@charset "UTF-8";
/* Mobile First */

/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

/* CABEÇALHO */

header {
    display: flex;
    background-color: #21173C;
    color: white;
    width: 100%;
    height: 120px;

}

#principal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.tituloElogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logotopo {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    
}

.titulo-principal {
    background-color: #7D41B2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}



/*=====================================================*/


/* MAIN E MENU LATERAL */
#container-principal {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.status-hora {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    background-color: #7D41B2;
    border-radius: 5px;
    font-size: 0.8rem;
    width: 50%;
}

.login-logout {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    align-items: center;
    background-color: #7D41B2;
    border-radius: 5px;
    gap: 1px;
    font-size: 0.8rem;
}

.btnsair {
    text-decoration: overline;
    cursor: pointer;
    padding: 5px;
}

.btnsair:hover {
    background-color: black;
    border-radius: 5px;
}

main {
    background-color: white;
    width: 100%;

}

.titulo-dash {
    color: #7D41B2;
    padding: 10px;
}

/* MENU LATERAL */

#menu-lateral {
    flex-basis: 300px;
    flex-grow: 0;
    background-color: #21173C;
}

#menu-lateral ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
    font-size: 1.4rem;
}

li a:hover {
    background-color: #7D41B2;
    color: #FFFFFF;
    border-radius: 5px;
}